body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-size: 15px;
  color: hsl(229, 6%, 66%);
  background-color: hsl(0, 0%, 98%);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products {
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 98%);
  align-items: center;
}

footer {
  display: none;
}

.tools1,
.tools2,
.tools3,
.tools4 {
  min-height: 12em;
  border-radius: 5px;
  border-top: 4px solid hsl(180, 62%, 55%);
  margin-bottom: 30px;
  padding: 25px;
  box-shadow: 0 16px 20px hsl(234deg 12% 34% / 25%);
  max-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
}

.firstmsg {
  padding: 15px 30px;
  text-align: center;
  background-color: hsl(0, 0%, 98%);
  max-width: 300px;
  margin-bottom: 40px;
  margin-top: 60px;
}

.tools2 {
  border-color: hsl(0, 78%, 62%);
}
.tools3 {
  border-color: hsl(34, 97%, 64%);
}
.tools4 {
  border-color: hsl(212, 86%, 64%);
}

.frsthead {
  font-weight: 200;
  font-size: 1.2rem;
  display: block;
  color: hsl(234, 12%, 34%);
}
.scdhead {
  font-weight: 600;
  font-size: 1.2rem;
  display: block;
  margin-bottom: 20px;
  color: hsl(234, 12%, 34%);
}

.subhead {
  font-weight: 600;
  font-size: 1.1rem;
  display: block;
  color: hsl(234, 12%, 34%);
}

.productimg {
  text-align: right;
  padding-top: 20px;
}

@media (min-width: 992px) {
  .content {
    height: 100vh;
    justify-content: center;
  }

  .firstmsg {
    max-width: 500px;
    margin-bottom: 20px;
  }

  .products {
    flex-direction: row;
    justify-content: center;
  }

  .group {
    margin-left: 30px;
    margin-right: 30px;
  }

  .frsthead,
  .scdhead {
    font-size: 2.1rem;
  }
}
